mat-icon{
    padding: 5px;
}
 .example-spacer {
    flex: 1 1 auto;
  }
  p{
    margin: 0%;
}

.a{
    padding: 5px;
     border-radius: 10%;
     margin: 1%;
     color: white;
 }
 #all{
    color :white;
 }
 li{
     list-style-type: none;
     padding-right: 10px;
 }
 a{
     text-decoration: none;
     color: white;
 }
 .example-container{
     margin: 0%;
     padding: 0%;
 }
 mat-sidenav{
     margin:0%;
 }
 .chips{
   margin: 2%;
 }